db:
  host: postgres
  port: 5432
  name: ente_db
  user: pguser
  password: {{ ente_db_password }}

internal:
  admins:
    - 1580559962386438

s3:
      # Top-level configuration for buckets, you can override by specifying these configuration in the desired bucket.
      # Set this to false if using external object storage bucket or bucket with SSL
      are_local_buckets: false
      # Set this to false if using subdomain-style URL. This is set to true for ensuring compatibility with MinIO when SSL is enabled.
      use_path_style_urls: true
      b2-eu-cen:
         # Uncomment the below configuration to override the top-level configuration 
         # are_local_buckets: true
         # use_path_style_urls: true
         key: minio-user-Rh7OIWpJ
         secret: {{ ente_minio_root_password }}
         endpoint: https://minio.nonsequitarian.org
         region: eu-central-2
         bucket: b2-eu-cen
      wasabi-eu-central-2-v3:
         # are_local_buckets: true
         # use_path_style_urls: true
         key: minio-user-Rh7OIWpJ
         secret: {{ ente_minio_root_password }}
         endpoint: https://minio.nonsequitarian.org
         region: eu-central-2
         bucket: wasabi-eu-central-2-v3
         compliance: false
      scw-eu-fr-v3:
         # are_local_buckets: true
         # use_path_style_urls: true
         key: minio-user-Rh7OIWpJ
         secret: {{ ente_minio_root_password }}
         endpoint: https://minio.nonsequitarian.org
         region: eu-central-2
         bucket: scw-eu-fr-v3

# Specify the base endpoints for various web apps
apps:
    # If you're running a self hosted instance and wish to serve public links,
    # set this to the URL where your albums web app is running.
    public-albums: http://localhost:3002
    cast: http://localhost:3004
    # Set this to the URL where your accounts web app is running, primarily used for
    # passkey based 2FA.
    accounts: http://localhost:3001

key:
      encryption: {{ ente_accounts_encryption }}
      hash: {{ ente_accounts_hash }}

jwt:
      secret: {{ ente_jwt_secret }}
