[Unit]
Description=music-assistant via podman compose

[Service]
WorkingDirectory=%h/music-assistant
Type=simple
Restart=always
ExecStart=/usr/bin/podman compose up --remove-orphans
ExecStop=/usr/bin/podman compose down

[Install]
WantedBy=default.target
