---
- name: Install gui packages
  community.general.pacman:
    name: "{{ gui_packages }}"
    state: present
  when: gui_packages is defined
  tags: packages

- name: Enable sddm
  ansible.builtin.systemd_service:
    name: sddm
    enabled: true
  when: gui_packages is defined
  tags: packages

- name: Install host gui packages
  community.general.pacman:
    name: "{{ host_gui_packages }}"
    state: present
  when: host_gui_packages is defined
  tags: packages

- name: Install gui AUR packages
  become: true
  become_user: aur_builder
  kewlfft.aur.aur:
    use: paru
    name: "{{ gui_aur_packages }}"
    state: present
  when: gui_aur_packages is defined
  tags: aur_packages

- name: Install gui PKGBUILD packages
  become: true
  become_user: aur_builder
  kewlfft.aur.aur:
    use: makepkg
    local_pkgbuild: /home/aur_builder/src/PKGBUILDs/{{ item }}
    name: "{{ item }}"
  loop: "{{ gui_pkgbuild_packages }}"
  when: gui_pkgbuild_packages is defined
  tags: pkgbuild_packages

- name: Check for sddm.conf file
  ansible.builtin.stat:
    path: /etc/sddm.conf
  register: sddm_conf
  tags: theme

- name: Copy sddm.conf template
  become: true
  ansible.builtin.template:
    src: sddm.conf.j2
    dest: /etc/sddm.conf
    force: false
  when: sddm_theme is defined and not sddm_conf.stat.exists
  tags: theme

- name: Set sddm theme
  become: true
  ansible.builtin.lineinfile:
    path: /etc/sddm.conf
    regexp: '^Current='
    line: Current={{ sddm_theme }}
  when: sddm_conf.stat.exists
  tags: theme

- name: Set sddm-astronaut-theme subtheme
  become: true
  ansible.builtin.lineinfile:
    path: /usr/share/sddm/themes/sddm-astronaut-theme/metadata.desktop
    regexp: '^ConfigFile='
    line: ConfigFile=Themes/{{ sddm_astronaut_theme }}.conf
  when: sddm_astronaut_theme is defined
  tags: theme

- name: Create wallpapers folder
  ansible.builtin.file:
    path: /home/rob/.local/share/wallpapers
    state: directory
  tags: theme

- name: Copy wallpaper image
  ansible.builtin.copy:
    src: /home/rob/.local/share/wallpapers/{{ wallpaper_image }}
    dest: /home/rob/.local/share/wallpapers/{{ wallpaper_image }}
  when: wallpaper_image is defined
  tags: theme
